.hour{
    width: 25vh;
    height: 25vh;
    float: left;
    font-size: 100px;
    text-align: right;
    color: red;
}
.minute{
    width: 25vh;
    height: 25vh;
    font-size: 100px;
    float: left;
    text-align: left;
    color: royalblue;

}
.second{
    width: 25vh;
    height: 25vh;
    font-size: 50px;
    float: left;             
    bottom:0;                         
    left:0;  
    padding-top: 50px;
    color: green;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: left; 
    flex-direction: row;
    align-items: baseline;
}
